/* for body edit and background animation */
body {

    overflow: hidden;
    background: linear-gradient(45deg, #146264, #00fbff, #a652ff, #b3ff00);
    background-size: 400% 400%;
    animation: gradient 10s infinite;
    text-align: center;
    color: white;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}



.heading {
    font-size: 60px;
}

/* first main div */
.userinfo {
    display: flex;
    justify-content: center;
}


.user-name {
    margin-top: 60px;
}


.vs {
    height: 300px;
    width: 300px;
    margin-bottom: -70px;
}

.button {
    margin-top: 30px;
    background-color: transparent;
    padding: 1%;
    width: 120px;
    border: 2px solid black;
    border-radius: 40px;
    transition: background-color 0.3s, transform 0.2s;
    cursor: pointer;
    font-size: 20px;
}

@keyframes ripple {
    to {
        transform: scale(3);
        opacity: 0;
    }
}

button:hover {
    background-color: #111d22;
    transform: scale(1.05);
}


.nm {
    background-color: transparent;
    color: whitesmoke;
    font-weight: bold;
    border: 2px black solid;
    border-radius: 25px;
    height: 40px;
    width: 120px;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.nm:hover {
    background-color: #111d22;
    transform: scale(1.05);
}

.nm:active {
    transform: scale(0.95);
}

.nm:hover {
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
}

.userinfo {
    color: aliceblue;
    align-items: center;
}

.h2 {
    font-size: 80px;
}